################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/out
/cmake-build-debug-visual-studio
/cmake-build-minsizerel-visual-studio